<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>


<h1>Связаться с нами</h1>
<br>
<form method="post">
    {% csrf_token %}
    <input type="text" name="name" /><br>
    <input type="email" name="email" /><br>
    <textarea name="message"></textarea><br>
    <input type="submit" value="Отправить" />
</form>

<h2>Сообщения:</h2>
    {% if contacts %}
        {% for contact in contacts %}
            <div>
                <p><strong>Имя:</strong> {{ contact.name }}</p>
                <p><strong>Email:</strong> {{ contact.email }}</p>
                <p><strong>Сообщение:</strong> {{ contact.message }}</p>
                <hr>
            </div>
        {% endfor %}
    {% else %}
        <p>Нет сообщений для отображения.</p>
    {% endif %}
</body>
</html>