{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<!--{% block title %}Каталог{% endblock %}-->





<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">Skystore - это отличный вариант хранения ваших плагинов и примеров кода, который вы бы хотели
        продать</p>
</div>

<div class="container">
    <h2 class="text-center mb-4">Каталог</h2>
    <div class="row text-center">
        {% for product in object_list %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img src="{{ product.image | media_filter }}">
                    <div class="card-header">
                        <h3><a href="{% url 'catalog:product_detail' product.pk %}">{{ product.name }}</a></h3>
                        <h4 class="my-0 font-weight-normal"></h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">${{ product.price }}</h1>
                        <p class="card-text">{{ product.description|slice:":100" }}...</p>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Нет товаров для отображения.</p>

        {% endfor %}
    </div>
</div>

<div class="container">
    <h2 class="text-center mb-4">Последние товары</h2>
    <div class="row text-center">
        {% for product in latest_products %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">${{ product.price }}</h1>

                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Нет товаров для отображения.</p>
        {% endfor %}
    </div>
</div>
<div class="container">
    <h2>Список продуктов</h2>
    <div class="product-list">
        {% for product in page_obj %}
            <div>
                <h3><a href="{% url 'catalog:product_detail' product.pk %}">{{ product.name }}</a></h3>
                <p>{{ product.description }}</p>
            </div>
        {% endfor %}
    </div>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}
        <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
        {% endif %}
    </div>
</div>
<a href="{% url 'catalog:product_create' %}" class="btn btn-primary">Создать новый продукт</a>

{% endblock %}
